<main>
	<h1>Vegetables List</h1>
	<table>
		<thead>
			<tr>
				<th>Vegetable</th>
				<th>Price</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let vegetable of vegetables">
				<td>{{ vegetable.vegetable }}</td>
				<td>{{ vegetable.price }}</td>
			</tr>
		</tbody>
	</table>
	
	<div>
		<label for="vegetable">Vegetable:</label>
		<input
			type="text"
			id="vegetable"
			[(ngModel)]="vegetable"
			name="name"
			required />
	</div>
	<div>
		<label for="price">Price:</label>
		<input
			type="number"
			id="price"
			[(ngModel)]="price"
			name="price"
			required />
	</div>
	<button (click)="addVegetable()"class="btn">Add Vegetable</button>
</main>

<style>
    main {
        max-width: 600px;
        margin: auto;
        padding: 20px;
    }

    h2 {
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .add-fruit {
        margin-top: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box; /* Ensures padding is included in width */
    }

    .btn {
        background-color: #007bff; /* Bootstrap primary color */
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #0056b3; /* Darker shade on hover */
    }
</style>