<main>
	<h1>Exercise List</h1>
	<table>
		<thead>
			<tr>
				<th>Name</th>
				<th>Sets</th>
				<th>Reps</th>
				<th>Weight</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let exercise of exercises">
				<td>{{ exercise.name }}</td>
				<td>{{ exercise.sets }}</td>
				<td>{{ exercise.reps }}</td>
				<td>{{ exercise.weight }}</td>
			</tr>
		</tbody>
	</table>
	<div>
		<label for="name">Name:</label>
		<input
			type="text"
			id="name"
			[(ngModel)]="name" />
	</div>
	<div>
		<label for="sets">Sets:</label>
		<input
			type="number"
			id="sets"
			[(ngModel)]="sets" />
	</div>
	<div>
		<label for="reps">Reps:</label>
		<input
			type="number"
			id="reps"
			[(ngModel)]="reps" />
	</div>
	<div>
		<label for="weight">Weight:</label>
		<input
			type="number"
			id="weight"
			[(ngModel)]="weight" />
	</div>
	<div>
		<button (click)="addExercise()"class="btn">Add Exercise</button>
	</div>
</main>
<style>
    main {
        max-width: 600px;
        margin: auto;
        padding: 20px;
    }

    h2 {
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .add-fruit {
        margin-top: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box; /* Ensures padding is included in width */
    }

    .btn {
        background-color: #007bff; /* Bootstrap primary color */
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #0056b3; /* Darker shade on hover */
    }
</style>