<main>
	<h1>Laptop Specification List</h1>
	<table>
		<thead>
			<tr>
				<th>Model</th>
				<th>Processor</th>
				<th>RAM</th>
				<th>Storage</th>
				<th>Display</th>
				<th>Graphics</th>
			</tr>
		</thead>
		<tbody>
			<tr *ngFor="let laptop of laptops">
				<td>{{ laptop.model }}</td>
				<td>{{ laptop.specs.processor }}</td>
				<td>{{ laptop.specs.ram }}</td>
				<td>{{ laptop.specs.storage }}</td>
				<td>{{ laptop.specs.display }}</td>
				<td>{{ laptop.specs.graphics }}</td>
			</tr>
		</tbody>
	</table>

	<div>
		<label for="model">Model:</label>
		<input
			type="text"
			id="model"
			[(ngModel)]="model" />
	</div>
	<div>
		<label for="processor">Processor:</label>
		<input
			type="text"
			id="processor"
			[(ngModel)]="processor" />
	</div>
	<div>
		<label for="ram">RAM:</label>
		<input
			type="text"
			id="ram"
			[(ngModel)]="ram" />
	</div>
	<div>
		<label for="storage">Storage:</label>
		<input
			type="text"
			id="storage"
			[(ngModel)]="storage" />
	</div>
	<div>
		<label for="display">Display:</label>
		<input
			type="text"
			id="display"
			[(ngModel)]="display" />
	</div>
	<div>
		<label for="graphics">Graphics:</label>
		<input
			type="text"
			id="graphics"
			[(ngModel)]="graphics" />
	</div>
	<button (click)="addLaptop()"class="btn">Add Laptop</button>
</main>
<style>
    main {
        max-width: 600px;
        margin: auto;
        padding: 20px;
    }

    h2 {
        text-align: center;
    }

    table {
        width: 100%;
        border-collapse: collapse;
        margin-bottom: 20px;
    }

    th, td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    th {
        background-color: #f2f2f2;
    }

    .add-fruit {
        margin-top: 20px;
    }

    .form-group {
        display: flex;
        flex-direction: column;
        margin-bottom: 15px;
    }

    label {
        margin-bottom: 5px;
    }

    input[type="text"],
    input[type="number"] {
        padding: 8px;
        border: 1px solid #ccc;
        border-radius: 4px;
        width: 100%;
        box-sizing: border-box; /* Ensures padding is included in width */
    }

    .btn {
        background-color: #007bff; /* Bootstrap primary color */
        color: white;
        border: none;
        padding: 10px 15px;
        border-radius: 4px;
        cursor: pointer;
    }

    .btn:hover {
        background-color: #0056b3; /* Darker shade on hover */
    }
</style>